ext/** linguist-vendored
.github/** linguist-generated
*.md linguist-documentation
*.png  linguist-vendored
*.jpg  linguist-vendored
*.jpeg linguist-vendored
cmake-build-debug/** linguist-vendored
CMakeLists.txt linguist-vendored


*.h linguist-language=C++
*.hpp linguist-language=C++
*.cpp linguist-language=C++
*.cxx linguist-language=C++
*.cc linguist-language=C++
